<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Third page::</p>
        <h1>Hello, World!</h1>
        <p>This is your HTML Page</p>
        <br>
        <p> the python is an interpreted programing language and it is also open source.</p><br>
        <P>python can be studied easily, python is a oops concept language, and high level language, its main advantages are
        * Easy to learn
        * open source
        *</P>


</body>
</html>